<footer>
    <div class="lockup">
        <div>
            <!--div class="logo">{% include icons/icon-logo.html %}</div-->
            <div class="content-wrapper">
                <p class="copyright">&copy; 2014-<script type="text/javascript">document.write( new Date().getFullYear() );</script>, Manuel Osorio All rights reserved.</p>
                <noscript>
                  <p class="copyright">&copy; 2014-{{ site.time | date: '%Y' }}, Manuel Osorio All rights reserved.</p>
                </noscript>
            </div>
        </div>
    </div>
</footer>
