---
permalink: /

---
<!DOCTYPE html>
<!--


This site was built with lots of ♥, Sass and Jekell.


Hey, I see you're looking at my source code.
Unfortunately, this code won't be of much assistance to you. Fortunately for you I make websites
If you would like for me to work with you in making your website send me an email (hey@manuelosorio.me) and we can talk about prices
I would get back to you as soon as possible.
I do web design, icons, logos.

-->
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="robots" content="index, follow" />
      {% for head in site.data.settings.head %}
        <title>{{ head.title }}</title>
        <meta property="og:title" content="{{ head.title }}" />
        <meta name="Keywords" content="{{ head.keywords }}" />
        <meta name="author" content="{{ head.name }}" />
        <meta name="description" content="{{ head.description }}" />
        <meta name="og:description" content="{{ head.description }}" />
        <meta property="og:image" content="/assets/img/profile.jpg" />
        <meta name="theme-color" content="#323232">
      {% endfor %}
      <link rel="stylesheet" href="assets/css/all.css"/>
      <link rel="shortcut icon" href="assets/img/icons/favicon.ico" type="image/x-icon">
      <link rel="icon" href="assets/img/icons/favicon.ico" type="image/x-icon">
      <link rel="icon" sizes="192x192" href="assets/img/icons/favicon-192.png">
      <link rel="icon" sizes="144x144" href="assets/img/icons/favicon-144.png">
      <link rel="icon" sizes="96x96" href="assets/img/icons/favicon-96.png">
      <link rel="icon" sizes="48x48" href="assets/img/icons/favicon-48.png">
      <meta http-equiv="Cache-Control" content="no-cache" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="0" />
      <meta  name="viewport" content="width=device-width"/>
    </head>
    <body>


        <div class="container" id="about-page">
            {% include partials/header/nav.html %}
            {% include partials/header/hero.html %}
            {% include partials/pages/about/about.html %}
            {% include partials/pages/about/featured-services.html %}
            {% include partials/pages/about/featured-work.html %}
        </div>
        {% include partials/footer/footer.html %}
        {% include partials/meta/scripts.html %}
    </body>
</html>
