---
permalink: "work/"
title: "Work"
keywords: "portfolio, storm the batey, storm of color, Dang! That's Good, New Year Count Down, Stickers, Circle Pop animation"
url-name: work
---
<!DOCTYPE html>
<!--


This site was built with lots of ♥ and Sass.

-->
<html lang="en">
	<head>
        {% include partials/meta/head.html %}
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
	</head>
    <body>
        <div class="container" id="workPage">
            {% include partials/header/nav-perm-pretty.html %}
            {% include partials/header/page-hero.html %}
            {% include partials/pages/work/work1.html %}
            {% include partials/formOtherPages.html %}
        </div>
        {% include partials/footer/footer-perm-pretty.html %}
        {% include partials/meta/scripts.html %}
        <script>
            $(".flex-video").fitVids();
        </script>
    </body>

</html>
