//	Typography
html
  box-sizing: border-box
  // scroll-behavior: smooth
body
  overflow-x: hidden
  margin: 0
// *, *:before, *:after
  // box-sizing: inherit
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: $text-color
  font-weight: bold
// svg
//   +size(100% )
.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  line-height: 1.05
  letter-spacing: -1px

.large, h2
  font-size: 42px
  line-height: 1.14

.bigger, h3
  font-size: 26px
  line-height: 1.38

.big, h4
  font-size: 22px
  line-height: 1.38

.small, small
  font-size: 10px
  line-height: 1.2



p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
i
  font: 1rem $font
  font-style: italic

// Links

a
  color: $primary
  text-decoration: none
  outline: 0

a:hover, a:focus
  color: $primary-light



// Selection colors (easy to forget)

::selection
  background: rgba($primary-light, .80)
  color: $text-color
::-moz-selection
  background: rgba($primary-light, .80)
  color: $text-color

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  background:
    -webkit-tap-highlight-color: rgba($primary-light, .80)



// Basic Styles
html
  font-size: 100%
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

body
  background: $bg-color-light
  font: 1.2rem/1.6 $font
  color: $text-color
