<section class="section-work" data-blur="data-blur">
  <div class="work-belt">

    <!--
      Content Tumbnails
    -->
    <div class="thumb-wrap">
      <div class="container">
        {% for project in site.data.settings.projects %}
          <a href="#hero" class="image" data-folder="{{ project.folder }}">
            <div class="info">
              <div class="group">
                {% include icons/icon-plus.html %}
                <p class="project-name">{{ project.name }}</p>
              </div>
            </div><img src="../assets/img/projects/{{ project.folder }}/thumb.png" alt="{{ project.name }}"/>
          </a>
        {% endfor %}
      </div>
    </div>
        <!--
                  Content Full Size
        -->
        <div class="work-wrap">
           <div class="work-container">
            <div class="work-return">
              {% include icons/icon-back.html %}
              <p>back</p>
            </div>

                <h2 class="project-title" style="text-transform: capitalize;"></h2>

               <div class="project-load"></div>


            </div>
        </div>
  </div>




</section>
