<footer data-blur="data-blur">
  <div class="lockup">
    <div>
      
      <div class="content-wrapper">
        <a href="/" class="logo">{% include icons/icon-logo.html %}</a>
        <!-- <nav>
          {% for item in site.data.settings.menu %}
          {% if item.name != "Contact" %}
            <a href="{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a>
          {% endif %}

          {% endfor %}
            <a href="https://mkdesignz.spreadshirt.com" target="_blank">Store</a>
        </nav> -->
        <p class="copyright">&copy; 2014-<script type="text/javascript">document.write(new Date().getFullYear());</script></script>, Manuel Osorio All rights reserved.</p>
        <noscript>
          <p class="copyright">&copy; 2014-{{ site.time | date: '%Y' }}, Manuel Osorio All rights reserved.</p>
        </noscript>
      </div>
    </div>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139933851-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139933851-1');
  </script>
</footer>
