#featured-services-wrap
  position: relative
  top: 45rem
  background-color: rgba($primary, 1)
  z-index: 0
  padding:
    top: 55px
    bottom: 35px
  &> *
    // position: relative
  h3
    color: $bg-color-light
    text-align: center
    width: 90%
    margin: 0 auto
    padding: 45px 0 25px 0
    font-family: $font
    font-size: 1.5rem
  &::before
    content: ""
    background: rgba($bg-color-light, 1)
    position: absolute
    height: 200px
    width: 100%
    padding-bottom: 3rem
    top: -12rem
    transform: skewY(4deg)
    overflow: hidden
.services
  margin: 15px
  overflow: hidden
  .service
    display: flex
    background-color: rgba($primary-light, 1)
    justify-content: center
    padding: 15px
    position: relative
    .icon

      display: flex
      justify-content: center
      flex-direction: column
      position: relative
      margin: 0 auto
      z-index: 0
      width: 75%
      img
        fill: $primary
        height: 150px
        svg
          fill: $primary
      span
        font-family: $font
        text-align: center
        margin: 15px 0
        font-size: 1.5rem
        color: $bg-color-light
.custom-radio
  display: flex
  +size(25px)
  background-color: $bg-color-light
  border-radius: 50%
  &::before
    content: "\ea10"
    font-family: "icomoon"
    display: block
    background-color: $primary
    border-radius: 50%
    +size(20px)
    position: relative
    top: 2.5px
    left: 2.5px
    color: white
    font-size: 12px
    text-align: center
    transform: scale(0)
    transition: $trans
input[type="radio"]
  display: none
input#brandID:checked ~ .services .service .custom-radio[data-service=brandID]::before
  transform: scale(1)
input#brandID:checked ~ #modal .modal-services .service .custom-radio[data-service=brandID]::before
  transform: scale(1)
input#logo:checked ~ .services .service .custom-radio[data-service=logo]::before
  transform: scale(1)
input#logo:checked ~ #modal .modal-services .service .custom-radio[data-service=logo]::before
  transform: scale(1)
input#webDev:checked ~ .services .service .custom-radio[data-service=webDev]::before
  transform: scale(1)
input#webDev:checked ~ #modal .modal-services .service .custom-radio[data-service=webDev]::before
  transform: scale(1)
