// margin: top right bottom left
  margin: 25px 50px 75px 100px
footer
  background: rgba($footer-bg, 1)
  position: relative
  text-align: center
  overflow: hidden
  padding-bottom: 1rem
  height: 180px
  width: 100%
  +display(flex)
  +flex-direction(column)
  &::before
    content: ""
    background: rgba($bg-color-light, 1)
    position: absolute
    height: 200px
    width: 100%
    padding-bottom: 4rem
    z-index: 0
    bottom: 8.8rem
    transform: skewY(-4deg)
    overflow: hidden
  .lockup
    +clearfix
    // +flex-direction(row)
    position: relative
    padding: 6rem
    // top: 4.5rem
    .logo
      position: relative
      width: 100%
      +justify-content(center)
      svg
        height: 4rem
        path
          fill: rgba($bg-color-light, 1)
          +transition($trans)
          &:hover
            fill: rgba($primary, 1)



    .content-wrapper
      +flex-direction(column)
      .copyright
        text-transform: uppercase
        color: rgba($bg-color-light, 0.85)
        @extend %small-bold
      a
        // display: inline-block
        // margin-right: 20px
        +transition($trans)
        color: rgba($bg-color-light, 0.85)
        // @extend %small-bold
      a:hover
        color: rgba($primary, 1)

#about-page + footer
  top: 33rem
  &::before
    // background: rgba($primary, 1)
    transform: skewY(4deg)

@media screen and (max-width: 640px)
  footer
    height: 80px
    padding: 0 0 4rem 0
    &:before
      display: none !important
      justify-content: center
      align-items: center
    .lockup
      padding: 1rem 0 2rem 0
//   .container#work
//     &::after
//       height: 10px
//   footer
//     height: 17.5rem
//     // bottom: -45rem

//     .lockup
//       .logo
//         // bottom: 1rem
//         svg
//           height: 3rem
//           float: none
//           margin: 0 auto
//       .content-wrapper
//         position: relative
//         // bottom: 3.3rem
//         float: none
//         margin: 1rem auto
//         nav
//           a
//             display: none
//             margin-right: 5px
//             font:
//               size: 12px
