.section-work
  overflow-x: hidden
  position: relative
  top: 200px

#featured-work
  overflow-x: hidden
  position: relative
  top: 45rem
  // margin: 0 auto
  padding-top: 55px
  &::before
    content: ""
    background: rgba($primary, 1)
    position: absolute
    height: 200px
    width: 100%
    padding-bottom: 3rem
    top: -12rem
    transform: skewY(-4deg)
    overflow: hidden
  h3
    @extend %small-bold
    color: rgba($primary, 1)
    width: 90%
    margin: 0 auto
    text-align: center
    padding: 45px 0 25px 0
    font-family: $font
    font-size: 1.5rem
  .work-belt .thumb-wrap .image
    height: auto
    width: 40%
    @media screen and (max-width: 700px)
      width: 100%
.work-belt
  width: 200%
  position: relative
  left: 0%
  +transition($trans)
  &:after
    content: ""
    display: block
    clear: both
.thumb-wrap, .work-wrap
  width: 50%
  float: left
.thumb-wrap
  +display(flex)
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  overflow: hidden
  .container
    width: 85%
    max-width: 1200px
    display: flex
    flex-wrap: wrap
    justify-content: center

.image
  cursor: pointer
  margin: 20px
  position: relative
  transition: 200ms ease-in-out
  height: auto
  width: 28%
  
  box-shadow: 3px 6px 8px rgba(#323232, .35)

  // box-shadow: 5px 8px 8px rgba(#323232,0.35)
  overflow: hidden
  z-index: 1
  @media screen and (max-width: 960px)
    width: 40%
  @media screen and (max-width: 700px)
    width: 100%
  img
    width: 100%
    height: 100%
    transition: 200ms ease-in-out
  &:hover
    transform: scale(1.1) !important    
    
    // box-shadow: 2px 5px 8px rgba(#323232,0.35)
    box-shadow: 2px 5px 8px rgba(#323232,0.35)
    img
      // opacity: .8
      // z-index: 100
      transform: scale(1.05)
      filter: blur(3px) brightness(55%)
  .info
    +display(inline-flex)
    background: rgba($primary-light, 0.5)
    transition: 200ms ease-in-out
    transform: scale(0)
    position: absolute
    left: 50%
    +size(100%)
    align-items: center
    justify-content: center
    text-align: center
    z-index: 150
    transform: scale(0) translateX(-50%)
    .group
      svg
        +size(50px)
        fill: $bg-color-light
      p
        position: relative
        // right: 40%
        // text-align: center
        color: $bg-color-light
        font:
          size: 1rem
          weight: bold
  &:hover .info
    transform: scale(1) translateX(-50%)
.work-container
  width: 80%
  max-width: 800px
  margin: 0px auto
  position: relative
  display: none
  h4
    color: $primary
    font-weight: 300
    text-transform: uppercase
    font-size: 24px
    line-height: 1.2
    margin: 0 0 20px
  img
    max-width: 100%
    margin-bottom: 20px
  .work-return
    display: flex
    cursor: pointer
    @media screen and (max-width: 760px)
      left: 15px
    svg
      +size(40px)
      cursor: pointer
      opacity: 0.5
      +position(relative)
      +transition($trans)
      path
        fill: rgba(0,0,0,0.4)
      &:hover
        opacity: 1
    p
      font:
        size: 25px
        weight: 600
      color: rgba(0,0,0,0.4)
      text-transform: capitalize
      margin-left: 15px



@import 'images'
