<div class="hero" id="hero" data-blur="data-blur">
  <div>
    <h1>
      Manuel Osorio
    </h1>
    <h2>
      Graphic Designer
      <br>
      Front-End Web Developer
    </h2>
    <a class="button cta" href="#about">Learn More</a>
  </div>
</div>
