<img src="../assets/img/projects/coverly/mockup.jpg" alt="">

<h3>Changes Needed</h3>
<ul>
  <li>Redesign UI elements</li>
  <li>Rework solor scheme to improve colorblind accessability</li>
  <li>Add a user profile for an artist and a normal comsumer</li>
  <li>Rework Shopping Cart Flow</li>
  <li><strong>Make into a javascript fullstack application</strong></li>
</ul>
<a href="https://manuelosorio.github.io/Coverly/" target="_blank" rel="noopener noreferrer">https://manuelosorio.github.io/Coverly/</a>

<hr>
<a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup psd created by customscene - www.freepik.com</a>
