<p><strong>I had to redesign the label for a root beer of a brand that isn't really mainstream.</strong> For this project, I choose the brand called, "Dang! That's Good" and although I had a hard time finding information; I was able to have a fairly decent end result. The reason I decided to use a chat bubble for the label was that when the grandmother of the founder tasted the root beer she said, "Dang! That's good root beer" which is also were the root beer got its name from.</p>


<img src="../assets/img/projects/dangthatsgood/DTG-RB.png" alt="Dang! That's Good Redesign By Manuel Osorio" class="dangthatsgood">
