<img src="../assets/img/projects/gh-pages/mockup.jpg" alt="">
<h3>Project Goals</h3>
<p>Design an interactive website that shows of hosting website on <a href="http://github.com/" target="_blank" rel="noopener noreferrer">Github</a>. It is a free service that can be used if all you need is to host static website.</p>

<h3>Changes Needed</h3>
<ul>
  <li>Add remaining pages</li>
  <li>Rethink next/previous page animation</li>
  <li>Cleanup the javascript</li>
  <li>Design a UI element that allows users know what the previous or next steps are.</li>
</ul>


<a href="https://gh-pages.manuelosorio.me/" target="_blank" rel="noopener noreferrer">https://gh-pages.manuelosorio.me/</a>



<hr>
<a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup psd created by customscene - www.freepik.com</a>
