<img src="../assets/img/projects/gondola-tours/mockup.jpg" alt="">
<h3>Project Goals</h3>
<p>Creating a website centered around the idea of a mode of transportation, this case being a gondola.</p>
<h3>Changes Needed</h3>
<ul>
  <li>Add content to about page.</li>
  <li>Intergrate slider and validation toasts</li>
  <li>Remove all filler text</li>
  <li>Design a blog template</li>
  <li>Fix buttons active style</li>
</ul>

<hr>

<a href="https://manuelosorio.github.io/gondola-tours/" target="_blank" rel="noopener noreferrer">https://manuelosorio.github.io/gondola-tours/</a><br>
<a href="https://manuelosorio.me/projects/gondola-tours" target="_blank" rel="noopener noreferrer">https://manuelosorio.me/projects/gondola-tours</a>


<hr>
<a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup psd created by customscene - www.freepik.com</a>
