<img src="../assets/img/projects/mighty-growler/mighty-growler.jpg" alt="The Mighty Growler by Manuel Osorio" title="The Mighty Growler by Manuel Osorio"/>

<p><strong>The Mighty Growler is a smokehouse and brewpub.</strong> They were looking for an overall trendy and fresh look that wasn't too silly looking. Brand Identity also must have a sense of refinement and antiqueness without looking expensive.</p>

<h3>Changes Needed</h3>
<ul>
  <li>Business Card needs redesign</li>
  <li>Add a Menu Design</li>
  <li>Create a brand styleguide to follow for consistency sake</li>
  <li>Design and prototype a web presence</li>
</ul>
