<p><strong>This a timer that counts down to the new year, its pretty self explanatory.</strong> You can see the <a href="/NewYear-CountDown" target="_blank">live version here.</a> If you like to keep track of how much time is left of the year I recommend you bookmark it. When I decided to make this I wanted to make something people can look back at and use throughout the year, especially New Year's Eve.</p>
<img src="../assets/img/projects/newyear-countdown/newyear-countdown.png" alt="New Year's Countdown by Manuel Osorio" title="New Year's Countdown by Manuel Osorio"/>
