<div class="row">
  <div class="col col-4"><img style="width: 100%;"src="/assets/img/projects/print-squid/thumb.png" alt="Print Squid"></div>
  <div class="col col-8"><p><strong>Print Squid is a print company, that is seeking to modernize its look.</strong>They work with small and big businesses in other to reach their business goals. They primarily work with designers but are looking to broaden their clientele.</p></div>
</div>
<div class="row">
  <div class="col col-8"><p>
    I was tasked with Designing the Corporate Identity for Print Squid. I kept in mind that they are a printing company, so I need to represent the printing aspect, but kept a playful tone to the design to be more welcoming to potential clients.
    </p>
  </div>
  <div class="col col-2"><img style="width: 100%;"src="/assets/img/projects/print-squid/back.png" alt="Business Card Front"></div>
  <div class="col col-2"><img style="width: 100%;"src="/assets/img/projects/print-squid/front.png" alt="Business Card Front"></div>
</div>
<div class="row">
  <div class="col col-8">
    <img style="width: 100%;"src="/assets/img/projects/print-squid/letterhead.png" alt="Print Squid letterhead">
  </div>
</div>
