
<p><strong><a href="https://manuelosorio.me/project-genesis/" target="_blank">Project Genesis </a> a CSS framework written in sass</strong>, that currently, I am working on in between projects. It is meant to be a starting point for projects. As I learn to do new best practices, I add them to the framework depending on relevance. The video player below being one of those features (one of the initial features implemented).<p>

<h3>Changes Needed</h3>
<ul>
  <li>Completely redesign the css componets</li>
  <li>Optimize following web standards</li>
  <li>Create a documentation for features</li>
</ul>

<div id="video_player">
  <video id="video">
    <source src="https://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
    <!-- Safari / iOS, IE9-->
    <source src="https://media.w3.org/2010/05/sintel/trailer.webm" type="video/webm">
    <!-- Chrome10+, Ffx4+, Opera10.6+-->
    <source src="https://media.w3.org/2010/05/sintel/trailer.ogy" type="video/ogg">
    <!-- Firefox3.6+ / Opera 10.5+-->
    <div class="loading">I have a bad feeling about this... <br>... your browser doesn't support the video format!</div>
  </video>
  <div id="video_controls_bar">
    <button id="playpausebtn"><i class="pg-play"></i></button>
    <input id="seekslider" type="range" min="0" max="100" value="0" step="1"><span id="time"><span id="cTimeText">00:00</span>/ <span id="dTimeText">00:00</span></span>
    <button id="mutebtn"><i class="pg-max-vol"></i></button>
    <input id="volumeSlider" type="range" min="0" max="100" value="100" step=".05">
    <button id="fullscreenbtn"><i class="pg-enter-fullscrn"></i></button>
  </div>
</div>
<script>intializePlayer();</script>
