<p><strong>Storm of Color run was the first-ever color run in Celebration High School.</strong> All proceeds went to <a href="http://www.noahslightfoundation.org/" target="_blank"><em>Noah's Light Foundation</em></a>. For the color run, I needed to make a poster and a video to inform the school about Storm of Color and get more people to want and join.</p>

<img src="../assets/img/projects/storm-of-color/stormofcolorposter.png" alt="Storm of Color Poster by Manuel Osorio" title="Storm of Color Poster by Manuel Osorio"/>

<div class="flex-video1">
  <iframe class="vender" src='https://www.youtube-nocookie.com/embed/rVQyAgWxxVE' frameborder='0' allowfullscreen></iframe>
</div>
