<p><strong><a href="http://stormthebatey.com" target="_blank"><em>Storm the Batey</em></a> is the third annual charity run in Celebration High School (known as the Storm Run).</strong> In 2014 Celebration High school partnered up with <a href="http://www.thebrp.org" target="_blank"><em>The Batey Rehab Project</em></a> to raise $10,000 to build homes in the Dominican Republic. These logos where used to repersent the different sponsership levels. I was tasked with designing a set of logos used to represent each of the sponsorship levels.</p>

<div class="images">
  <img src="../assets/img/projects/storm-the-batey/BateyPainter.png" alt="Batey Painter by Manuel Osorio" title="Batey Painter by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyTeacher.png" alt="Batey Teacher by Manuel Osorio" title="Batey Teacher by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyFriend.png" alt="Batey Friend by Manuel Osorio" title="Batey Friend by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyPartner.png" alt="Batey Partner by Manuel Osorio" title="Batey Partner by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyPioneer.png" alt="Batey Pioneer by Manuel Osorio" title="Batey Pioneer by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyChampion.png" alt="Batey Champion by Manuel Osorio" title="Batey Champion by Manuel Osorio"/>
  <img src="../assets/img/projects/storm-the-batey/BateyHero.png" alt="Batey Hero by Manuel Osorio" title="Batey Hero by Manuel Osorio"/>
</div>
<h3>&copy;2013-2015 Batey Rehab Project Inc. All Rights Reserved.</h3>
