<img src="../assets/img/projects/valencia-webstudio/mockup.jpg" alt="">
<h3>Project Goals</h3>
<p>The goal of this project was to create a css theme for <a href="valenciawebstudio.com" target="_blank" rel="noopener noreferrer">Valencia Web Studio</a> without making changes to the html.</p>
<h3>Changes Needed</h3>
<ul>
  <li>Give the submission coming soon and 404 page some love</li>
  <li>remove transition effects to match the style or reduce duration and remove easing</li>
</ul>



<a href="https://manuelosorio.github.io/valencia-webstudio/" target="_blank" rel="noopener noreferrer">https://manuelosorio.github.io/valencia-webstudio/</a>
<hr>
<a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup psd created by rawpixel.com - www.freepik.com</a>
